doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='theme-color', content='#f6f6f6')

    title.
      Sign in
    link(rel='stylesheet', href='css/all.css')
  body

    main

      h1.header
        span.
          Sign in

      div.login-cont
        div.buttons
          a(href='https://vk.com/auth').login-submit.facebook.
            Facebook
          a(href='https://vk.com/auth').login-submit.vk.
            VK

        div.label
          a(href='/with-password').alt-login.
            Sign in with e-mail
