doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='theme-color', content='#f6f6f6')

    title.
      Sign in
    link(rel='stylesheet', href='css/all.css')
  body

    main

      h1.header
        span.
          Sign in

      form(method='POST', action='/email-post').login-cont

        div.label.oauth-login-cont
          a(href='/with-password').alt-login.
            (or sign in with VK or Facebook)

        div.inputs
          input(type='email', placeholder='yourname@example.com')
          input(type='submit', value='Send')

